<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estética Excepional</title>
    <meta name="description" content="Descubra o segredo para uma transformação excepcional com o Estética Excepcional. Nosso ebook exclusivo é o guia definitivo para alcançar uma saúde e beleza incomparáveis. Combinando os mais recentes avanços científicos, dicas práticas e estratégias comprovadas, você aprenderá a conquistar o corpo dos seus sonhos de forma sustentável e saudável">
    <meta name="robots" content="index">
    <meta http-equiv="author" content="Paulo Ribas">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/variaveis.css">
    <link rel="stylesheet" href="/style/mobile.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="/scripts/index.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '268484742611811');
        fbq('track', 'PageView');

    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=268484742611811&ev=PageView
    &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    
</head>
<body>
    <header>
        <h2>Esta oferta acaba em:</h2>
        <div class="countdown">
            <div class="countdown-box">
                <span class="number" id="day">-</span>
                <span class="text" id="dayText">...</span>
            </div>
            <div class="countdown-box">
                <span class="number" id="hour">--</span>
                <span class="text" id="hourText">...</span>
            </div>
            <div class="countdown-box">
                <span class="number" id="minutes">--</span>
                <span class="text" id="minutesText">...</span>
            </div>
            <div class="countdown-box">
                <span class="number" id="seconds">--</span>
                <span class="text" id="secondsText">...</span>
            </div>
        </div>
    </header>
    <section id="introduction">
        <div class="container">
            <strong>
                <span class="atention">Atenção: </span> Devido a alta demanda
                estamos com acesso limitado!
            </strong>
            <h2>A COMBINAÇÃO DE NUTRIENTES QUE <span class="atention">ME FEZ PERDER MAIS DE 20 QUILOS</span> EM MENOS DE TRÊS MESES <span class="atention">SEM TER QUE ME RESTRINGIR!</span></h2>
            <h3>DESCUBRA HOJE!</h3>
            <div class="video-container">
                <img src="/img/play.png" id="play" alt="play icon">
                <img src="/img/pause.png" id="pause" alt="pause icon">
                <video src="/videos/EsteticaExcepcional-C.E.S.mp4" poster="/img/pizza.png">
                </video>
            </div>
            <div class="btn-container">
                <a target="_blank" class="btn-buy-green-to-orange" href="https://payment.hotmart.com/next/N82873330W?off=717tuaa4&checkoutMode=10&_hi=eyJjaWQiOiIxNjgzNzU2NjI4NzA5NjQ0MzE5NDA0OTc5OTQ0MDAwIiwiYmlkIjoiMTY4Mzc1NjYyODcwOTY0NDMxOTQwNDk3OTk0NDAwMCIsInNpZCI6Ijc0ZTBkODFhMzdmNDQ0NTI5NDk4Y2Y2ODZlNGI0MzVlIn0=.1688588028206">quero emagrecer hoje</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="124" height="16" viewBox="0 0 124 16" fill="none">
                    <path d="M62.4709 15.5097L55.8316 3.87742L69.1101 3.87742L62.4709 15.5097Z" fill="white" />
                    <path d="M0 3.10098H123.5" stroke="white" stroke-width="4.60009" />
                </svg>
            </div>
            <dir class="information-container">
                <p><b>Você já experimentou perder peso frequentando a academia, seguindo dietas restritivas, comprando pílulas mágicas ou
                confiando em métodos extraordinários que encontrou na internet?</b></p>
                <p>Sabia que, em média, apenas uma em cada dez pessoas que tentam emagrecer consegue manter o peso alcançado nos anos
                seguintes? E isso não ocorre porque algumas pessoas têm mais determinação do que outras.</p>
                <p>Existem inúmeras maneiras de alcançar o peso ideal, mas infelizmente a maioria delas resulta no efeito sanfona. No
                entanto, tenho uma boa notícia para você:<b> não é necessário recorrer a procedimentos caros, passar horas exaustivas na
                academia ou abrir mão dos alimentos que você gosta para emagrecer. </b></p>
                <p>Com o programa <abbr title="O Caminho do Equilíbrio Saudável"></abbr>C.E.S, não será preciso realizar metade das coisas que você já tentou para obter a transformação que eu conquistei. Tudo isso é possível através de algumas receitas simples e super saborosas!</p>
                <p>Meu nome é <cite>Rayssa</cite> Mancini, e gostaria de compartilhar com você como consegui perder mais de 20 quilos em apenas três
                meses, e como qualquer pessoa pode perder mais de 10 quilos em apenas 45 dias, assim como eu.</p>
                <p>Porém, devo confessar... nem sempre soube tudo o que sei sobre emagrecimento. Durante os últimos 10 anos, sofri com
                baixa autoestima e fui julgada pelo meu peso. Eu era o tipo de pessoa que começava uma dieta e logo desistia, ou
                acreditava que nada funcionaria para mim.</p>
                <p><b>No entanto, após passar por uma situação extremamente constrangedora, tomei uma decisão e busquei informações verídicas.</b></p>
                <p>após passar por uma situação extremamente constrangedora, tomei uma decisão e busquei informações verídicas. Após testar
                diversos métodos milagrosos para emagrecer ao longo dos anos, descobri um "segredo": um plano alimentar simples, que não
                só me ajudou a perder peso, mas também a transformar minha vida.</p>
                <div class="img-container-3">
                    <img src="/img/introduction-video/Imagem-1.jpg" alt="imagens ilustrativas sobre emagrecimento">
                    <img src="/img/introduction-video/Imagem-2.jpg" alt="imagens ilustrativas sobre emagrecimento">
                    <img src="/img/introduction-video/Imagem-3.jpg" alt="imagens ilustrativas sobre emagrecimento">
                </div>
            </dir>
        </div>
     </section>
     <section id="testimonials">
        <div class="container">
            <div class="text-testimonials">
                <h2>VEJA O QUE AS NOSSAS <span class="orange">ALUNAS</span> ESTÃO DIZENDO <br>
                SOBRE O <span class="orange">NOSSO MÉTODO</span></h2>
                <h4>São pessoas <b>como você</b> e conseguiram esses resultados:</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="69" viewBox="0 0 80 69" fill="none">
                    <g filter="url(#filter0_d_259_335)">
                        <path d="M30.3479 3.84285H48.9745V27.5798H64L39.6612 50.8419L15.3224 27.5798H30.3479V3.84285Z" fill="black" />
                        <path
                            d="M30.3479 2.16223H28.6673V3.84285V25.8991H15.3224H11.1316L14.1612 28.7947L38.5 52.0569L39.6612 53.1667L40.8224 52.0569L65.1612 28.7947L68.1908 25.8991H64H50.6551V3.84285V2.16223H48.9745H30.3479Z"
                            stroke="#FF6707" stroke-width="3.36124" />
                    </g>
                    <defs>
                        <filter id="filter0_d_259_335" x="0.226765" y="0.481567" width="78.869" height="68.4382"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                result="hardAlpha" />
                            <feOffset dy="6.71415" />
                            <feGaussianBlur stdDeviation="3.35708" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_259_335" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_259_335" result="shape" />
                        </filter>
                    </defs>
                </svg>
            </div> <!--fim do text-testimonials-->
            <div class="carrossel-container">
                <div class="carrossel" id="carrossel">
                    <img src="/img/depoimentos/1.png" alt="depoimentos">
                    <img src="/img/depoimentos/2.png" alt="depoimentos">
                    <img src="/img/depoimentos/3.png" alt="depoimentos">
                    <img src="/img/depoimentos/4.png" alt="depoimentos">
                    <img src="/img/depoimentos/5.png" alt="depoimentos">
                    <img src="/img/depoimentos/6.png" alt="depoimentos">
                    <img src="/img/depoimentos/7.png" alt="depoimentos">
                    <img src="/img/depoimentos/8.png" alt="depoimentos">
                </div>
            </div>
        </div>
     </section>
     <section id="warranty">
        <div class="container">
            <div class="warranty-information-container">
                <div class="warranty-information">
                    <div class="warranty-title">
                        <img src="/img/Selo-de-Garantia.png">
                        <h2>GARANTIA INCONTESTÁVEL DE 7 DIAS</h2>
                    </div>
                    <p>O código de defesa do consumidor (Art. 49) garante 7 dias para solicitar reembolso em caso de insatisfação com o produto.</p>
                    <p>Milhares de pessoas comuns como você estão mudando suas realidades com essas receitas. Isso significa que você também
                    pode mudar a sua vida para melhor.</p>
                    <p><b>Mas caso não goste do que encontrar, devolvemos seu dinheiro sem perguntas até 7 dias após a compra.</b></p>
                </div>
            </div>
        </div>
     </section>
     <section id="buy">
        <div class="container">
            <div class="buy-container">
                <div class="text-container">
                    <h2>CONQUISTE SUA MELHOR VERSÃO HOJE!</h2>
                    <p>
                        <strong>DE <s>R$197,99</s> POR <br> <span>R$ 97,99</span></strong>
                    </p>
                </div> <!--fim do text-container -->
                <a class="btn-buy-red-to-green" href="https://payment.hotmart.com/next/N82873330W?off=717tuaa4&checkoutMode=10&_hi=eyJjaWQiOiIxNjgzNzU2NjI4NzA5NjQ0MzE5NDA0OTc5OTQ0MDAwIiwiYmlkIjoiMTY4Mzc1NjYyODcwOTY0NDMxOTQwNDk3OTk0NDAwMCIsInNpZCI6Ijc0ZTBkODFhMzdmNDQ0NTI5NDk4Y2Y2ODZlNGI0MzVlIn0=.1688588028206" target="_blank">Comprar Com <br> Desconto</a>
                <div class="buy-method-img-container">
                    <img src="/img/FORMASDEPAGAMENTO1.png" alt="formas de pagamento = boleto, pic pay, não sei o que">
                    <img src="/img/FORMASDEPAGAMENTO2.png" alt="formas de pagamento = cartão, pix, cartão grandão">
                </div>
            </div>
        </div>
     </section>
     <section id="c-e-s">
        <div class="container">
            <div class="c-e-s-container">
                <h2>programa C.E.S</h2>
                <p>Dentro do programa você terá acesso ao que realmente é capaz de te fazer perder peso ao longo de 30 dias, com
                orientações e plano de dieta para perder até 10 quilos em um único mês, e conquistar o corpo que sempre desejou!</p>
                <img src="img/resultados.png" alt="resultados">
            </div>
        </div>
     </section>
     <section id="information-about-trust">
        <div class="container">
            <div class="text-container-trust">
                <h2>é sua primeira compra na internet?</h2>
                <h3>Não se preocupe, site 100% seguro, empresa <br> confiável e entrega garantida!</h3>
            </div>
            <div class="informations">
                <div class="information-logo-text-container">
                    <div class="img-container">
                        <img src="/img/logoemail2.png" alt="email logo">
                    </div>
                    <div class="text-information">
                        <p>Após a compra, você receberá imediatamente, em seu email cadastrado, o acesso ao conteúdo exclusivo do nosso produto de
                        emagrecimento. Tenha todas as informações e recursos necessários enviados diretamente para você, sem demora, para
                        iniciar sua jornada.</p>
                    </div>
                </div> <!--fim information-logo-text-container-->
                <div class="information-logo-text-container">
                    <div class="img-container">
                        <img src="/img/logocomprasegura2.png" alt="email logo">
                    </div>
                    <div class="text-information">
                        <p>Garantimos a segurança da sua compra ao adquirir o produto C.E.S. Utilizamos tecnologias avançadas para proteger suas
                        informações pessoais e garantir que a transação seja segura. Nossa plataforma confiável e criptografada proporciona a
                        tranquilidade que você merece ao investir nos seus sonhos.</p>
                    </div>
                </div> <!--fim information-logo-text-container-->
                <div class="information-logo-text-container">
                    <div class="img-container">
                        <img src="/img/logoparcelado2.png" alt="email logo">
                    </div>
                    <div class="text-information">
                        <p>Sabemos que flexibilidade é importante para você. Por isso, oferecemos a opção de parcelamento em até 12 vezes para
                        tornar a aquisição do produto C.E.S ainda mais acessível. Agora você pode embarcar na jornada de emagrecimento que
                        deseja, dividindo o pagamento em parcelas que cabem no seu orçamento.</p>
                    </div>
                </div> <!--fim information-logo-text-container-->
                <div class="information-logo-text-container">
                    <div class="img-container">
                        <img src="/img/logoreembolso2.png" alt="email logo">
                    </div>
                    <div class="text-information">
                        <p>A sua satisfação é nossa prioridade. Com o produto C.E.S, você tem a tranquilidade de poder experimentar sem riscos. Se
                        nos primeiros 7 dias após a compra você não estiver satisfeito(a) ou sentir que o produto não atende às suas
                        expectativas, oferecemos a opção de reembolso. Queremos que você se sinta confiante e seguro(a) ao investir no seu
                        emagrecimento.</p>
                    </div>
                </div> <!--fim information-logo-text-container-->
            </div> <!--fim informations-->
            <div class="btn-container">
                <a class="btn-buy-orange-to-green" href="https://payment.hotmart.com/next/N82873330W?off=717tuaa4&checkoutMode=10&_hi=eyJjaWQiOiIxNjgzNzU2NjI4NzA5NjQ0MzE5NDA0OTc5OTQ0MDAwIiwiYmlkIjoiMTY4Mzc1NjYyODcwOTY0NDMxOTQwNDk3OTk0NDAwMCIsInNpZCI6Ijc0ZTBkODFhMzdmNDQ0NTI5NDk4Y2Y2ODZlNGI0MzVlIn0=.1688588028206" target="_blank">quero emagrecer hoje</a>
            </div>
            <h2 class="comprovation">Emagrecimento Comprovado</h2>
            <p class="description-comprovation">
                Devolvemos o seu dinheiro em até 7 dias úteis caso <br> você não se sinta completamente satisfeita!
            </p>
            <div class="final">
                <img src="/img/EElogo1.png">
                <p>É sério! Você fica satisfeito, ou devolvemos o seu dinheiro! Se por qualquer motivo achar que o C.E.S não ajudou, nós
                nos comprometemos em devolver a quantia paga pelo seu eBook. Temos certeza que C.E.S vai cumprir com o prometido, por
                isso nosso compromisso é uma garantia incondicionais de 7 DIAS.</p>
            </div>
        </div>
     </section>
     <footer>
        <div class="container">
            <div class="footer-container">
                <div class="secure-website">
                    <h3>Site Seguro</h3>
                    <div class="secure-demonstration">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="45" viewBox="0 0 44 45" fill="none">
                            <path
                                d="M24.8717 5.41572C23.8929 5.60357 22.7428 6.00917 20.9758 6.63254L20.0503 6.95669C15.1933 8.66888 12.7656 9.52331 12.1567 10.4176C11.5591 11.292 11.5461 13.8553 11.5461 18.942L24.8717 14.3706V5.41572ZM24.8717 16.9971L11.5461 21.5685V21.9026C11.5461 31.2747 18.393 35.8228 22.6895 37.7544C23.5133 38.1251 24.0463 38.3645 24.8717 38.4726V16.9971ZM27.2945 38.4742V16.9971L40.6201 21.5685V21.9026C40.6201 31.2747 33.7731 35.8228 29.4767 37.7544C28.6529 38.1251 28.1199 38.3662 27.2945 38.4742ZM27.2945 14.3706V5.41406C28.2733 5.6019 29.4234 6.00751 31.1904 6.63088L32.1159 6.95669C36.9729 8.66722 39.4006 9.52165 40.0095 10.416C40.6071 11.2904 40.6201 13.8536 40.6201 18.9387L27.2945 14.3673V14.3706Z"
                                fill="black" />
                        </svg>
                        <strong>SSL certificado</strong>
                    </div>
                    <div class="secure-demonstration">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="33" viewBox="0 0 30 33" fill="none">
                            <path
                                d="M26.1293 13.3716H27.7422C28.17 13.3716 28.5803 13.5415 28.8828 13.844C29.1852 14.1464 29.3552 14.5567 29.3552 14.9845V31.1136C29.3552 31.5414 29.1852 31.9516 28.8828 32.2541C28.5803 32.5566 28.17 32.7265 27.7422 32.7265H1.93567C1.50789 32.7265 1.09764 32.5566 0.795165 32.2541C0.492685 31.9516 0.322754 31.5414 0.322754 31.1136V14.9845C0.322754 14.5567 0.492685 14.1464 0.795165 13.844C1.09764 13.5415 1.50789 13.3716 1.93567 13.3716H3.54858V11.7586C3.54858 8.76425 4.7381 5.89249 6.85545 3.77514C8.97281 1.65778 11.8446 0.468262 14.839 0.468262C17.8334 0.468262 20.7051 1.65778 22.8225 3.77514C24.9398 5.89249 26.1293 8.76425 26.1293 11.7586V13.3716ZM22.9035 13.3716V11.7586C22.9035 9.61979 22.0539 7.56854 20.5415 6.05614C19.0291 4.54374 16.9778 3.69408 14.839 3.69408C12.7001 3.69408 10.6489 4.54374 9.13645 6.05614C7.62406 7.56854 6.7744 9.61979 6.7744 11.7586V13.3716H22.9035ZM13.226 19.8232V26.2748H16.4519V19.8232H13.226Z"
                                fill="black" />
                        </svg>
                        <strong>Ambiente Seguro</strong>
                    </div>
                    <img src="/img/logoEcinza1.png" alt="">
                </div> <!--fim secure-website-->
                <div class="footer-buy-methods">
                    <div class="methods">
                        <h3>formas de <br> pagamento</h3>
                        <div class="img-methods">
                            <img src="/img/FORMASDEPAGAMENTOFOOTER.png" alt="">
                        </div>
                    </div>
                    <div class="warn">
                        <strong>Aviso</strong>
                        <p>A venda só pode ser realizada através deste Site Oficial e não nos responsabilizamos por compras realizadas em outros
                        sites. Evite falsificações e riscos a sua saúde.
                        </p>
                    </div>
                </div> <!--fim footer-buy-methods -->
            </div> <!--fim footer-container-->
            <strong class="copyright">Todos direitos reservados &reg;Estética Excepcional • 2023</strong>
        </div>
     </footer>
     <script src="/scripts/video.js"></script>
     <script src="/scripts/scroll.js"></script>
</body>
</html>